<div ng-controller="sphereClickedDropdownMenuCtrl as menu" class="sphere-clicked-dropdown-menu" ng-style="{left:mousePos.x,top:mousePos.y}" ng-show="isOpen">
      <md-fab-speed-dial md-open="isOpen" md-direction="down" ng-class="'md-scale'">
        <md-fab-trigger style="display:none;">
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
          </md-button>
        </md-fab-trigger>

        <md-fab-actions>
          <md-button class="md-raised md-mini menu-item" ng-click="open();">
            show
          </md-button>
          <md-button  class="md-raised md-mini menu-item" ng-click="close();">
            hide
          </md-button>
          <md-button class="md-raised md-mini menu-item" ng-click="openAll();">
            show all
          </md-button>
          <md-button class="md-raised md-mini menu-item" ng-click="closeAll();">
            hide all
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
</div>


<div class="header">
     <md-menu class="menu-button" >
        <md-button class="md-icon-button" aria-label="Settings" ng-click="  $mdOpenMenu($event)">
            <md-icon md-svg-icon="img/icons/menu.svg" class="button"></md-icon>
        </md-button>
      </md-icon>
      <md-menu-content width="2" >
        <md-menu-item>
          <md-button href="http://141.161.20.98/direwolf/index.php?r=searchEngine" >
              Dynamic Search
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button href="http://cs-sys-1.uis.georgetown.edu/~jl1749/jie/dumpling/index_2.html#" >
              Contrast
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button href="http://141.161.20.98/direwolf/index.php?r=public" >
              Ebola
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button href="http://141.161.20.98/direwolf/index.php?r=laborTrafficking" >
              Labor Trafficking
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <div class="title">
      Minerva
    </div>
</div>


<div class="search-result" ng-show="$root.state=='searchResult'" >
    <div class="left-panel">
      <div  class="doc-list" ng-include="'app/view/spheres/searchResult.html'" id="searchResult">
      </div>
      <div class="toolbox noselect" ng-include="'app/view/spheres/toolbox.html'">
      </div>
    </div>

    <div  class="doc-detail" ng-include="'app/view/spheres/docDetail.html'">
    </div>
</div>


<div  ng-include="'app/view/spheres/userState.html'">
</div>